@media all and (max-width:760px){
pre.prettyprint { 
    display: block;
    background-color: #f1f1f1;
    font-family: Consolas, monaco, monospace;
    font-size: 16px;
    margin-left: 5%;
    margin-right:5%;
    margin-top:15px;
    margin-bottom: 15px;
    overflow:scroll;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-top: 20px solid transparent;
    border-bottom:20px solid transparent;
    
}
}

@media all and (min-width:761px){
pre.prettyprint { 
    display: block;
    background-color: #f1f1f1;
    font-family: Consolas, monaco, monospace;
    font-size: 16px;
    margin: 0 auto;
    margin-top:15px;
    margin-bottom: 15px;
    width: 730px;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-top: 20px solid transparent;
    border-bottom:20px solid transparent;
    overflow-x:scroll;
    

       
    
}
}

pre .nocode { background-color: none; color: #000 }
pre .str { color: forestgreen} /* string */
pre .kwd { color: orange; font-weight: bold }
pre .com { color: darkblue} /* comment */
pre .typ { color: darkmagenta} /* type */
pre .lit { color: #e17366} /* literal */
pre .pun { color: #333 }    /* punctuation */
pre .pln { color: #333 }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name */
pre .atv { color: #ffa0a0 } /* attribute value */
pre .dec { color: #98fb98 } /* decimal  */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 {list-style: decimal}
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre.prettyprint { background-color: none }
  pre .str, code .str { color: #060 }
  pre .kwd, code .kwd { color: #006; font-weight: bold }
  pre .com, code .com { color: #600; font-style: italic }
  pre .typ, code .typ { color: #404; font-weight: bold }
  pre .lit, code .lit { color: #044 }
  pre .pun, code .pun { color: #440 }
  pre .pln, code .pln { color: #000 }
  pre .tag, code .tag { color: #006; font-weight: bold }
  pre .atn, code .atn { color: #404 }
  pre .atv, code .atv { color: #060 }
}
