/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

/* Reset everything*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;

}


ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

::selection {
    background-color: #d8217d;
    color: #fff;
}
::-moz-selection {
    background-color: #d8217d;
    color: #fff;
}

/*
  ========================================
  Divisions
  ========================================
*/

html{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color:#fdfdfd;
}


p {
    font-family:"Georgia";
    font-size:18px;
    color:#333;
    font-family: "Georgia";
}

header{

}

body{

}



/*
  ========================================
  Headers
  ========================================
*/

h1 {
    font-size:52px;
}

h2 {
    font-size:32px;
}

h3 {
    font-size:36px;
}

h4 {

    font-size:20px;
}

h5 {
    font-size:18px;
}


/*
  ========================================
  Links
  ========================================
*/

a:link {
    text-decoration: none;
    color:inherit;
}

a:visited{
    color:inherit;
}

a:hover{
    text-decoration:underline !important;
}

a:active{
    padding-top: 2px;
}

/*
  ========================================
  Classes
  ========================================
*/
.herotitle {
    margin-left: 10px;
    padding: 10px;
    color:RGB(43, 56, 71);
    clear:both;
}

.herotitle a:hover{
   text-decoration:none !important;
}

.navtext{
    margin-top: 9px;
    color:RGB(43, 56, 71);
    float:left;
    border-radius: 0px 0px 3px 3px;
    display:block;
}

.navtext:hover{
    color:black;
}

.navtext a{
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 15px;
}

@media all and (max-width:760px){
.blogtitle{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    margin-top:10px;
    color:#333;
}
}

@media all and (min-width:761px){
.blogtitle{
    margin-left: 21%;
    margin-bottom: 1%;
    margin-top:10px;
    color:#333;
}
}



@media all and (max-width:760px){
    .blogtext {
    margin-left: 5%;
    margin-right:5%;
    line-height: 150%;

}
}

@media all and (min-width:761px){
    .blogtext {
    margin: 0 auto;
    line-height: 150%;
    width: 750px;
}
}

.blogtext a {
    text-decoration: underline;
}



#blogpage{
    margin-top: 2%;
}

.inlinecode {
    display:inline;
    margin-top: 2%;
    background-color: #f1f1f1;
    font-family: Consolas, monaco, monospace;
    margin-right: 0%;

}

/*
  ========================================
  Images
  ========================================
*/

.logoimg{
    float:left;
    padding:10px;
}

.portrait{
    float:right;
    margin-right: 30px;
    margin-top:-10px;
    padding: 10px
}

@media all and (max-width:760px){
.blogimg{
    max-width:100%;
    object-fit:scale-down;
    height: auto !important;

}
}

@media all and (min-width:761px){
.blogimg{
    margin: 0 auto;
    display:block;
    width:750px;

}
}



.footerimg{
    float:left;
    padding: 10px;
    margin-bottom: -30px;


}

.footerimg a:hover{
    Text-decoration: none;
    outline: none;
    border: 0px none transparent;
}



/*
  ========================================
  IDs
  ========================================
*/
#posteddate{
    margin-left: 21%;
    padding:10px;
    font-size:12px;
    color:dimgrey;
    font-style:italic;
}

#burger:hover{
    text-decoration:none; !important;
    outline: none;
    border: 0px none transparent;
    color:bisque;
}
/*
  ========================================
  Other
  ========================================
*/

hr{
    margin-left: 30%;
    margin-right:30%;
    margin-bottom: 10px;
    color: grey;
    border-style: solid;
}

b{
    font-weight: bold;
}

i{
    font-style: italic;
    font-weight: 300;
}

footer{
    position: relative;
    bottom: 10px;
    top: 20px;
    left: 0;
    right: 0;
    height:100px;

}



textarea{
    background-color:#fdfdfd;
    color:#333;
    border:0;
    font-family: monospace;
    font-size:2rem;
    height:100vh;
    line-height:1.4;
    margin:0 auto;
    outline:0;
    padding-left:2rem;
    padding-right: 1rem;
    padding-top: 1rem;
    width:80%;
    max-width: 760px;
}

button{
    background-color:#fbfbfb;
    border:1px #ccc solid;
    color:#999;
    cursor:pointer;
    float:right;
    margin-top: 10px;
    margin-right: 50px;
    padding:5px 10px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size:12px;

}

button:hover{
    color:#333;
    border:1px #333 solid;
}

#emailbutton{
   border-radius: 3px;
}


ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 18px;
    margin-top:9px;
}


/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {
    display: none;
}

ul.topnav li.icon a:hover{
    text-decoration:none !important;
}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}




/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
      display:
  }
}


ul.topnav.responsive:not(:first-child){

    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 5px; /* Place content 60px from the top */
    transition: 0.3s;
}
